<% layout("/layouts/boilerplate") %> 
<div class="row mt-2">
    <div class="col-8 offset-2">
        <h3>Create a new listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label"><b>Title</b> </label>
                <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
                <div class="valid-feedback">title looks good !</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"><b>Description</b> </label>
                <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control" required></textarea>
                <div class="invalid-feedback">please enter short discription !</div>
            </div>
            <!-- <div class="mb-3">
                <label for="image" class="form-label"><b>Image Link</b></label>
                <input name="listing[image]" type="text" placeholder="enter image url/link" class="form-control">
            </div> -->

            <div class="mb-3">
                <label for="image" class="form-label"><b>Upload Listing Image </b></label>
                <input name="listing[image]" type="file" class="form-control">
                required
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label"> <b>price</b> </label>
                    <input name="listing[price]" placeholder="enter price" class="form-control" required>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label"><b>location</b></label>
                    <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
                    <div class="invalid-feedback">please enter correct location!</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label"> <b>country</b> </label>
                <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
                <div class="invalid-feedback"> enter correct country!</div>
            </div>
            <br>
            <button class="btn btn-dark edit-btn">Add</button>
            <br>
            <br>
        </form>
    </div>
</div>
